numpy<2.0.0
anndata
umap-learn
scikit-learn
muon
pandas
seaborn
plotly
streamlit
openpyxl
zarr<=2.18.4
scanpy
leidenalg
cirro==1.5.4
biom-format
GEOparse
pydeseq2
streamlit-extras
kaleido==0.2.1
numcodecs<0.16.0